.quiensoy {
    background-color:#cbccc3;
    height: auto; 
}
  
.quiensoy__contenedor {
    display: flex;
    margin: 0 auto;
    height: 100%;
    align-items: center;
    max-width: 1200px; 
}
  
.quiensoy__texto {
    font-size: 23px;
    letter-spacing: 0.06cm;
    text-align: center;
    padding: 1.8cm;
    width: 100%;
    height: 100%; 
}
  
.quiensoy img {
    height: auto;
    border-radius: 70px; 
}